Sphinx==9.1.0
sphinx-design==0.7.0
sphinx-tabs==3.5.0
sphinx-sitemap==2.9.0
myst-parser==5.1.0
furo==2025.12.19
sphinxext-opengraph==0.13.0
sphinx-copybutton==0.5.2
sphinxcontrib-jquery==4.1
sphinx-reredirects==1.1.0
sphinx-notfound-page==1.1.0
requests==2.34.2
beautifulsoup4==4.15.0
linkify-it-py==2.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
docutils==0.22.4
