sphinx>=7.0.0
sphinx-design
sphinx-tabs
myst-parser
furo
sphinxext-opengraph
sphinx-copybutton
sphinxcontrib-jquery
sphinx-reredirects
sphinx-notfound-page
requests
beautifulsoup4
linkify-it-py
markdown-it-py
mdit-py-plugins
docutils